$clr-prim : #248C1D;
$clr-prim-lighter :#E7FFE5;
$clr-prim-light :#7CD275;
$clr-prim-dark :#0C5507;

$clr-sec : #00A4AE;
$clr-sec-light:#75D9E3;
$clr-sec-lighter:#D9F6F8;
$clr-sec-dark:#05554e;
$clr-sec-darker:#022421;
$clr-map-border:#28EDFA;


$clr-warning:#D0387D;


//font colors
$font-clr-prim:$clr-prim-dark;

$font-clr-sec :#089099;