// 1. config files and helpers
@import "sass/abstracts/color";
@import "sass/abstracts/font";


//2.vendors
$spacer : 10px;
$default-font:16px;
@import "sass/vendor/normalize";

//3.base styles
@import "sass/base/global";
body{
    @include font($font-regular);
    background:white;
    color:$clr-sec;
    font-size:$default-font;
}
button{
    border:none;
    background:inherit;
}



//4.components
.page{
    background:white;
    transition:transform 250ms ease-out;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    font-size:inherit;
}
.page-out{
    width:100vw;
    height:100vh;
    overflow:hidden;
    transform:scale(0.9) translateX(-80vw);
    transition:transform 250ms ease-out;
    border-radius:15px;
}

.chips{
    border:2px solid $clr-sec;
    font-size:0.9*$default-font;
    margin:$spacer;
    padding:$spacer/2 $spacer;
    border-radius:20px;
    text-align:center;
    cursor: pointer;
}
.chips-active{
    background:$clr-sec-light;
    color:$clr-sec-dark;
    font-weight:$font-bold;
}
.card{
    margin:2*$spacer;
    width:8*$default-font;
    height:8*$default-font;
    border-radius:10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;


    overflow:hidden;
    p{
        font-size:0.8*$default-font;
        margin:$spacer/2;
    }
    .stat_number{
        font-size:1.5*$default-font;
    }
    .stat_name{
        font-size:$default-font;
    }
    
    
}
.stat_bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 0 $spacer;
    margin:$spacer 0;
    background:$clr-sec-light;
}

.mainNav{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:$clr-sec-light;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-end;
    overflow:hidden;
    pointer-events:all;
    z-index:-1;
  
    .menuBtn-close{
        width:60px;
        height:60px;
        display:flex;
        align-items:center;
        justify-content:center;
        position:absolute;
        top:1%;
        right:4%;
        cursor:pointer;
        .menuBar-close{
            width:30px;
            height:3px;
            position:relative;
            &::before,
            &::after{
                content:'';
                width:30px;
                height:3px;
                background:$clr-sec-darker;
                position:absolute;
                top:0;
                left:0;
                transform:rotate(45deg);
                
            }
            &::after{
                transform:rotate(-45deg);
            }
       }
    }
    ul{
        list-style:none;
        display:inline-block;
        li{
            padding: $spacer;
            margin:$spacer;
            margin-right:3*$spacer;
            &:hover >a,
            &:focus > a{
                color:$clr-sec-darker;
            }
            &:hover > a::before,
            &:focus > a::before{
                transform:scale(1);
                transform-origin: left;
            }
            
            a{

                text-decoration:none;
                color:$clr-sec-dark;
                font-weight:$font-bolder;
                font-size:1.2*$default-font;
                position:relative;

                &::before{
                    content:'';
                    position:absolute;
                    bottom:0;
                    left:0;
                    width:100%;
                    height:2px;
                    background:$clr-sec-darker; 
                    transform:scale(0);
                    transform-origin: right;
                    transition:transform 350ms ease-in-out;   
                }

            }
        }
    }

}


//5.layout

header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 $spacer;
    
    background:white;


    .logo{
        color:$clr-prim;
        font-size :2*$default-font;
    }

    .menuBtn{
        width:60px;
        height:60px;
        display:flex;
        align-items:center;
        justify-content:center;
        cursor:pointer;

        
        .menuBar{
            width:30px;
            height:3px;
            position:relative;
            background:$clr-prim;
            &::before,
            &::after{
                content:'';
                width:30px;
                height:3px;
                background:$clr-prim;
                position:absolute;
                top:-10px;
                left:0;
            }
            &::after{
                top:10px;
                width: 20px;
            }
       }
    }

   
}
.header-fixed{
    position:sticky;
    top:0;
    left:0;
    z-index:100;


}

section{
    
    display:flex;
    flex-direction:column;
    align-items:flex-start;

    margin:2*$spacer;

    .head{
        display:flex;
        justify-content:space-between;
        width:100%;
    }

   
}
footer{
    width:100%;
    background:white;
    height:500px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    p{
        margin:2*$spacer;
        font-size:1.2*$default-font;
    }
}


//6. Page Sections
.sticky_nav{
    position:fixed;
    top:85%;
    left:80%;
    background:none;
    z-index:100;


    .plus_btn{
        width:50px;
        height:50px;
        font-size:50px;
        position:relative;
        text-align:center;
        z-index:100;

        border-radius:50%;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
        background:white;




        &::before,
        &::after{
            content:'';
            background:$clr-prim-dark;
            width:30px;
            height:5px;
            border-radius:15px;
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            transition:transform 150ms linear;
        }
        &::after{
            transform:translate(-50%,-50%) rotate(90deg);
        }
    }
    .plus_btn-close{
        border-radius:30px;
        border-top-left-radius:0;
        border-top-right-radius:0;
        &::before{
            transform:translate(-50%,-50%) rotate(45deg);
        }
        &::after{
            transform:translate(-50%,-50%) rotate(-45deg);

        }
    }
    &_menu{
        $menu-height:200px;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        background:white;
        width:100%;
        height:$menu-height;
        position:absolute;
        top:-$menu-height;
        left:0;
        overflow:hidden;
        transform:scaleY(0);
        transform-origin:bottom;
        transition:transform 150ms linear;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
        border-radius:10px;
        border-bottom-left-radius:0;
        border-bottom-right-radius:0;
        z-index:99;


        li{
            list-style:none;
            font-size:1.2*$default-font;
            padding:$spacer;
            position:relative;
            height:100%;
            display:flex;
            align-items:center;
            justify-content:center;
            cursor:pointer;
            &::after{
                content:'';
                position:absolute;
                top:0;
                left:3px;
                width:40px;
                height:2px;
                background:#323232;

            }
            &:first-child::after{
                height:0;
                background:transparent;
            }
           
            }
          

        }
    &_menu-active{
      transform:scaleY(1);

    }
}

    


.hero_section{
    background: linear-gradient(to right, #2DBCCE 0%, #5CE6E3 50%, #FFFFFF 100%);
    font-size:34px;
    display:flex;
    text-align:center;
    justify-content:center;
    align-items:center;
    margin:0;
    
   
}

.currentSituation{
    font-size:16px;
    .situation_body{
        display:flex;
        flex-direction:column;
        width:100%;
        font-weight:$font-bold;
        .c1,
        .c2{
            display:flex;
            flex-direction:row;
            justify-content:center;
        }
        .stat_confirmed{
            color:$clr-warning;
        }
        .stat_active{
            color:$clr-sec;
        }
        .stat_recovered{
            color:$clr-prim;
        }
        .stat_death{
            color:$clr-death;
        }
       
    }
}

.datewiseData{

    .datewise_chips{
        display:flex;
        flex-direction:row;
        width:100%;

    }
    .datewise_chips-left{
        justify-content:flex-start;
    }
    .datewise_chips-right{
        justify-content:flex-end;
    }

    .datewise_graph{
        border:2px solid lightblue;
        width:100%;
        height:auto;
        overflow:hidden;
    }
}

.statewiseData{
    margin:0;
    padding:0 2*$spacer;
    background:$clr-prim-lighter;

    .statewise_graph{
        border:2px solid lightblue;
        width:100%;
        height:auto;
        overflow:hidden;
        transition:height 1s linear;
        &_canvas{
            height:auto;
        }
        
    }
    .statewise_viewDetailBtn{
        width:100%;
        padding:$spacer;
        margin:$spacer 0;
        background:$clr-sec;
        color:white;
        font-weight:$font-bolder;
        transition:height 250ms ease-out;
    }
    
}


.map{
    margin:0;
    background:white;
    &_head{
        width:100%;
        padding:2*$spacer;


        h2{
            margin:$spacer 0;
        }
    }
    &_statBox{
        background:lightblue;
        font-weight:$font-bold;
        width:90%;
        height:auto;
        margin:2*$spacer;

        display:flex;
        flex-direction:column;
        align-items:center;
        align-self:center;

        p{
            margin:0;
        }
        &_stateName{
            width:100%;
            padding:$spacer;
            text-align:center;
            font-size: 2*$default-font;
          
        }
        &_stateStat{
            width:100%;
            height:100%;
            display:flex;
            font-weight:bold;
            

            .map_stateBox_box{
                display:flex;
                flex-direction:row;
                justify-content:space-between;
                padding:$spacer;
                overflow:hidden;
                display:flex;
                flex-direction:column;
                width:100%;
                text-align:center;
                font-size:0.9*$default-font;
                border:2px solid lightblue;
                p{
                    padding:$spacer 0;
                }

            }
            .map_statBox_stateStat-confirmed{
                color:$clr-warning;
                background:white;

            }
            .map_statBox_stateStat-active{
                color:$clr-sec;
                background:white;

            } .map_statBox_stateStat-recovered{
                color:$clr-prim;
                background:white;

            } .map_statBox_stateStat-death{
                color:$clr-death;
                background:white;
            }
            
        }
 
    }
    &_mapSvg{
        width:100%;
        height:auto;
        padding:0;
        overflow:hidden;
        display:flex;
        align-items:center;
        justify-content:center;

    }
    .map_note{
        margin-top:-180px;
    }
    .topDistrictInState{
        width:100%;
        margin:2*$spacer 0;
        // margin-top:-180px;
        height:0;
        overflow:hidden;
        transition:height 150ms linear;
    }
}

.searchForYourself{
    margin:0;
    background:$clr-sec-lighter;
    padding:0 2*$spacer ;


    .statewise_effectedArea{
        width:100%;
        padding:$spacer;
        padding-bottom:2*$spacer;

        &_head{
            display:flex;
            justify-content:space-between;
            button{
                background:inherit;
            }
        }
        &_stateName{
            position:relative;
            .search_box_container{
                width:100%;
                border:2px solid red;
                display:flex;
                align-items:center;
                justify-content:space-between;
                border:1px solid $clr-sec;
                border-radius:2*$spacer;
                margin:$spacer 0;
                background:$clr-sec-lighter;
                transition:box-shadow 150ms linear;
                box-shadow: none;


                .search_box{
                    padding: $spacer;
                    width:90%;
                    background:none;
                    border:none;
                    outline:none;
                }
                .search_box:placeholder{
                    font-size:0.8rem;
                }
                
                svg{
                    margin-right:$spacer;
                    font-size:1.5rem;
                }
            }
            .search_box_container-active{
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
                border:none;
                outline:none;
                background:#fff;

            }
        
            .match_list{
                width:100%;
                max-height:300px;
                overflow:auto;
                border-top:none;
                position:absolute;
                top:calc(100% + 5px);
                left:0;
                background:$clr-sec-lighter;
                z-index:1;
                transition:height 150ms linear;
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
                pointer-events:all;

                display:none;
                .search-box-list {
                    width:100%;
                    list-style:none;
                    padding:$spacer;
                    &:hover{
                        background:$clr-sec;
                    }

                }
            }
        }
        &_stat{
            color:white;

            &_bar-confirmed{
                background:$clr-warning;

            }
            &_bar-active{
                background:$clr-sec;
            }
            &_bar-recovered{
                background:$clr-prim;
            }
            &_bar-death{
                background:#777;
            }
        }

        &_cityStat{
            height:auto;
            &_box{
                border:2px solid lightblue;
                width:100%;
                height:500px;
                &_cityList{
                    list-style:none;
                    padding:$spacer/2;
                    text-align:center;
                }
            
            }
            .empty_template{
                display:none;
            }
            .state_template{
                margin:0;
                background:$clr-sec-lighter;
                display:none;

                .state_statBox{
                    background:lightblue;
                    font-weight:$font-bold;
                    width:100%;
                    height:auto;
                    margin:2*$spacer 0;
            
                    display:flex;
                    flex-direction:column;
                    align-items:center;
                    align-self:center;
            
                    p{
                        margin:0;
                    }
                    &_stateName{
                        width:100%;
                        padding:$spacer;
                        text-align:center;
                        font-size: 2*$default-font;
                      
                    }
                    &_stateStat{
                        width:100%;
                        height:100%;
                        display:flex;
                        font-weight:bold;
                        
            
                        .state_stateBox_box{
                            display:flex;
                            flex-direction:row;
                            justify-content:space-between;
                            padding:$spacer;
                            overflow:hidden;
                            display:flex;
                            flex-direction:column;
                            width:100%;
                            text-align:center;
                            font-size:0.8*$default-font;
                            border:2px solid lightblue;
                            background:$clr-sec-lighter;
                            p{
                                padding:$spacer 0;
                            }
            
                        }
                        .state_statBox_stateStat-confirmed{
                            color:$clr-warning;
            
                        }
                        .state_statBox_stateStat-active{
                            color:$clr-sec;
            
                        }
                         .state_statBox_stateStat-recovered{
                            color:$clr-prim;
            
                        }
                         .state_statBox_stateStat-death{
                            color:$clr-death;
                        }
                        
                    }
             
                }
                .state_datewise{
                    .state_datewise_chips{
                        display:flex;
                        flex-direction:row;
                        width:100%;
                
                    }
                    .state_datewise_chips-left{
                        justify-content:flex-start;
                    }
                    .state_datewise_chips-right{
                        justify-content:flex-end;
                    }
                
                    .state_datewise_graph{
                        border:2px solid lightblue;
                        width:100%;
                        height:auto;
                        overflow:hidden;
                    }
                }
                .state_districtNames{
                    background:$clr-sec-lighter;
                    width:100%;
                    margin:0;
                    padding:0;
                    &_body{
                        &_districts{
                            border:2px solid $clr-sec-light;
                            height:auto;
                            .district{
                                width:auto;
                                display:inline-block;
                            }
                        }
                        &_districtInfo{
                            .district_statBox{
                                background:lightblue;
                                font-weight:$font-bold;
                                width:100%;
                                height:auto;
                                margin:2*$spacer 0;
                        
                                display:flex;
                                flex-direction:column;
                                align-items:center;
                                align-self:center;
                        
                                p{
                                    margin:0;
                                }
                                &_districtName{
                                    width:100%;
                                    padding:$spacer;
                                    text-align:center;
                                    font-size: 2*$default-font;
                                  
                                }
                                &_districtStat{
                                    width:100%;
                                    height:100%;
                                    display:flex;
                                    font-weight:bold;
                                    
                        
                                    .district_statBox_box{
                                        display:flex;
                                        flex-direction:row;
                                        justify-content:space-between;
                                        padding:$spacer;
                                        overflow:hidden;
                                        display:flex;
                                        flex-direction:column;
                                        width:100%;
                                        text-align:center;
                                        font-size:0.8*$default-font;
                                        border:2px solid lightblue;
                                        background:$clr-sec-lighter;
                                        p{
                                            padding:$spacer 0;
                                        }
                        
                                    }
                                    .district_statBox_districtStat-confirmed{
                                        color:$clr-warning;
                        
                                    }
                                    .district_statBox_disctrictStat-active{
                                        color:$clr-sec;
                        
                                    }
                                     .district_statBox_districtStat-recovered{
                                        color:$clr-prim;
                        
                                    }
                                     .district_statBox_districtStat-death{
                                        color:$clr-death;
                                    }
                                    
                                }
                         
                            }
                        }
                        
                    }
                }
               
            }
            .district_template{
                display:none;
                .state_distNames_body_distInfo{
                    .dist_statBox{
                        background:lightblue;
                        font-weight:$font-bold;
                        width:100%;
                        height:auto;
                        margin:2*$spacer 0;
                
                        display:flex;
                        flex-direction:column;
                        align-items:center;
                        align-self:center;
                
                        p{
                            margin:0;
                        }
                        &_distName{
                            width:100%;
                            padding:$spacer;
                            text-align:center;
                            font-size: 2*$default-font;
                          
                        }
                        &_distStat{
                            width:100%;
                            height:100%;
                            display:flex;
                            font-weight:bold;
                            
                
                            .dist_statBox_box{
                                display:flex;
                                flex-direction:row;
                                justify-content:space-between;
                                padding:$spacer;
                                overflow:hidden;
                                display:flex;
                                flex-direction:column;
                                width:100%;
                                text-align:center;
                                font-size:0.8*$default-font;
                                border:2px solid lightblue;
                                background:$clr-sec-lighter;
                                p{
                                    padding:$spacer 0;
                                }
                
                            }
                            .dist_statBox_distStat-confirmed{
                                color:$clr-warning;
                
                            }
                            .dist_statBox_disctStat-active{
                                color:$clr-sec;
                
                            }
                             .dist_statBox_distStat-recovered{
                                color:$clr-prim;
                
                            }
                             .dist_statBox_distStat-death{
                                color:$clr-death;
                            }
                            
                        }
                 
                    }
                }
                .state_viewBtn{
                    width:100%;
                    padding:$spacer;
                    margin:$spacer 0;
                    background:$clr-sec;
                    color:white;
                    font-weight:$font-bolder;
                }
                
            }
        }
    }
}








